.ul-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
}

.ul-nav-bar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(249, 249, 234, 0.95);
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translater(-50%, -50%);
    background: none;
    text-align: center;

}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.inputU input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center ;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.50s;

}
.inputE input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center ;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.50s;

}
.inputP input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center ;
    border: 2px solid #6613c5;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.50s;

}

.inputU input[type = "text"]:focus, .inputP input[type="password"]:focus {
    width: 280px;
    border-color: #2aee2a;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #33e40f;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.150s;
}

.noneNavBar .authenNavBar {
    overflow: hidden;
    background-color: #0009;
}
.noneNavBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.authenNavBar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}


.authenNavBar h6 {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 2px;
    text-decoration: none;
}

video {
    width: 100%    !important;
    height: 100%   !important;
}

hr.hr-2 {
    height: 2px;
}

hr {
    color: #123455;
}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-height: 100px;
}

.btn-width {
    width: 120px;
    margin: 5px;
}

.btn-width-categories {
    width: 80px;
    margin: 3px;
}

.btn-width-products {
    width: 80px;
    margin: 2px;
}

.btn-width-wishlist {
    margin: 2px;
}